language: node_js
node_js:
  - "node"
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email:
    on_failure: change
install:
  - yarn install
script:
  - yarn test --coverage
before_deploy:
  - yarn run build
deploy:
  provider: s3
  access_key_id: $ACCESS_KEY
  secret_access_key: $SECRET_KEY
  bucket: "uwbce-public"
  skip_cleanup: true
  region: "us-west-2"
  local_dir: build
