.HeaderTitle {
    display: block;
}
header img {
    position: relative;
    float: left;
    width: 25%;
    height: 25%;
    background: #FFFFFF;
  }
  
header h1 {
    position: relative;
    float: left;
  }
header h3 {    
    position: relative;
    float: left;
  }
  