html, .App {
  /* background: linear-gradient(to top right, #3023AE, #C86DD7) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  font-family: 'Open Sans', sans-serif;
} 


.navbar-toggle {
  position: relative;
}

.App button {
  background: inherit;
  /* color: white; */
}

.App #nav-brand {
  /* color: white; */
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: .18em
}

.App .main-navbar {
  background: inherit;
  border: none;
  text-align: center;
}

.App #nav-date {
  /* color: white; */
  text-align: center;
  margin-top: 0.80em;
}

.App #nav-year {
  font-size: 150%;
  line-height: 70%;
  /* color: white; */
}

.App #nav-text {
  /* color: white; */
  margin-top: 0.5em;
};

.App #nav-text:hover {
  text-decoration: underline;
  color: black;
}

.speaker-image {
  padding-right: 1em;
}

.speaker-entry {
  margin-bottom: 5em
}

h1.speaker-header {
  font-weight: bolder;
  padding-bottom: 1.3em;
}

h2.speaker-name {
  margin-top: -0.2em;
  margin-bottom: 1em;
  font-weight: 600 !important;
}

.speaker-body {
  font-weight: 600;
  font-size: small;
}

.fab,
.fas {
  padding: 0.2em;
  font-size: xx-large;
  color: #572AAF;
}

.fab:hover,
.fas:hover {
  color: #572AAF;
}
  
.App div.card-title {
  margin-top: -1em;
  font-weight: bolder !important;
}

.App .panel-default {
  border-color: #ddd;
  padding: 3em;
}

h4.card-fee {
  margin-top: 1.65em;
  color: #7F7F7F;
  font-weight: bolder;
}

h3.card-sub {
  font-weight: 700;
  margin-top: 0.1em;
  margin-bottom: 1em;
  height: 0.1em;
}

h1.card-price {
  font-weight: bolder !important;
}

h3.card-title {
  font-weight: 800 ;
  margin-bottom: 0;
}

div.card-button {
  padding-top: 1.5em;
  
}

div.card-button a {
  background-color: #6F62B8;
  border-radius: 50em;
  padding: 0.7em 1.5em;
  font-weight: 600;
}

div.card-button a:hover, 
div.card-button a:active
 {
  background-color: #5b4dab; 
}

div.card-button a:active:focus, 
div.card-button a:focus {
  background-color: #6F62B8;
  border-color: #6F62B8;
}